# CircleCI configuration file

version: 2.1
description: "Orange County Lettings"

jobs:
  build_and_test:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Configure virtual environment
          command: |
            python3 -m venv env
            source env/bin/activate
            pip install -r requirements.txt
      - run:
          name: Linting
          command: |
            source env/bin/activate
            flake8
      - run:
          name: Run tests
          command: |
            source env/bin/activate
            python manage.py test

workflows:
  main:
    jobs:
      - build_and_test