                     # CircleCI configuration file

version: 2.1
description: "Orange County Lettings"

jobs:
  build_and_test:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run:
          name: Configure virtual environment
          command: |
            python -m venv venv
            source  venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Linting
          command: |
            source venv/bin/activate
            flake8
      - run:
          name: Run tests
          command: |
            source venv/bin/activate
            python manage.py test
  containerize:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "containerize"
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            docker build -t image_oc_lettings_site .
            docker tag image_oc_lettings_site $DOCKER_USERNAME/$DOCKER_REPO:$CIRCLE_SHA1
            docker push $DOCKER_USERNAME/$DOCKER_REPO:$CIRCLE_SHA1
            docker image tag $DOCKER_USERNAME/$DOCKER_REPO:$CIRCLE_SHA1 $DOCKER_USERNAME/$DOCKER_REPO:latest
            docker push $DOCKER_USERNAME/$DOCKER_REPO:latest



workflows:
  main:
    jobs:
      - build_and_test
      - containerize:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - master